[Desktop Entry]
Version=1.0.9
Type=Application
Terminal=false
Comment=An program to compare fonts of different languages
Exec=/usr/bin/fonts-compare
Name=fonts compare
Icon=fonts-compare
StartupNotify=true
Categories=GTK;Utility;
