[Desktop Entry]
Version=1.0.9
Type=Application
Terminal=false
Exec=/usr/bin/fonts-compare
Name=fonts compare
Icon=/home/sshil/sudip/toolbox/fonts-compare/fonts-compare-logo.png
